<footer class="site-footer">

  <div class="wrapper">

    <center>
        
		<p><a class="link" href="{{ site.baseurl }}/archive/">Archive</a> /
		<a class="link" href="{{ site.baseurl }}/category/">Category</a> / 
		<a class="link" href="{{ site.baseurl }}/tags/">Tags</a> / 
		<a class="link" href="{{ site.baseurl }}/about/">About</a> /
		<a class="link" href="{{ site.baseurl }}/contact/">Contact</a>
        </p>

        <span><script>document.write(new Date().getFullYear());</script></span>
        <span>&copy;</span>
        
		<a class="link" href="{{ site.baseurl }}">{{ site.name }}</a>
		<br>
		<span>Theme &copy; <a class="link" href="https://twitter.com/zlpmichelle" target="_blank"> Liping Zhang</a> | </span>
				<iframe
			style="margin-left: 2px; margin-bottom:-5px;"
			frameborder="0" scrolling="0" width="91px" height="20px"
			src="https://ghbtns.com/github-btn.html?user=zlpmichelle&repo=blog&type=star&count=true" >
		</iframe>

    </center>
    
  </div>

</footer>
