<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            Big Data, Cloudera
        </div>
        <div class="progress">
            <span class="yellow" style="width: 85%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Hadoop, S3
        </div>
        <div class="progress">
            <span class="yellow" style="width: 70%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            HBase, Cassandra
        </div>
        <div class="progress">
            <span class="yellow" style="width: 70%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Spark, Akka
        </div>
        <div class="progress">
            <span class="yellow" style="width: 70%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Mysql
        </div>
        <div class="progress">
            <span class="yellow" style="width: 70%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Security
        </div>
        <div class="progress">
            <span class="yellow" style="width: 70%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Java
        </div>
        <div class="progress">
            <span class="green" style="width: 85%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Scala
        </div>
        <div class="progress">
            <span class="blue" style="width: 60%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Linux
        </div>
        <div class="progress">
            <span class="red" style="width: 80%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Data Science
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 50%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Distributed System
        </div>
        <div class="progress">
            <span class="grey" style="width: 60%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Cloud, AWS
        </div>
        <div class="progress">
            <span class="grey" style="width: 60%;"></span>
        </div>
    </div>
</section>
